<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.axnsoftware.eclipse.plugins.customprojects"
            name="Custom Projects"
            parentCategory="org.eclipse.jdt.ui.java">
      </category>
      <wizard
            category="org.eclipse.jdt.ui/de.axnsoftware.eclipse.plugins.customprojects"
            class="de.axnsoftware.eclipse.plugins.customprojects.internal.ui.wizards.NewCustomJavaProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/sample.gif"
            id="de.axnsoftware.eclipse.plugins.customprojects.internal.ui.wizards.NewCustomJavaProjectWizard"
            name="Custom Java Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
      </wizard>
   </extension>

   <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="de.axnsoftware.eclipse.plugins.customprojects.preferences"
         class="de.axnsoftware.eclipse.plugins.customprojects.internal.ui.preferences.CustomProjectsPreferencesFrontPage"
         name="Custom Projects">
      </page>
      <page
         id="de.axnsoftware.eclipse.plugins.customprojects.preferences.javade.axnsoftware.eclipse.macosx.java.wizards.ui.internal.preferences.WizardsPreferencesProjectTemplatesPage"
         class="de.axnsoftware.eclipse.plugins.customprojects.internal.ui.preferences.CustomJavaProjectTemplatesPage"
         name="Custom Java Project Templates"
         category="de.axnsoftware.eclipse.plugins.customprojects.preferences">
      </page>
   </extension>
</plugin>
