<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.tvd.gameview.ext/src/com/tvd/gameview/ext/wizards/NewPopupCreationWizard.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tvd.gameview.ext.wizards.NewPopupCreationWizard"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.tvd.gameview.ext"/>
</launchConfiguration>
