#
# create templates
#

#CCPoint declaring template
{tab}CCPoint {var_name};

#end

#CCPoint implementing template
{var_name}{spaces}= CCPoint({position});

#end

#=============== Point template ===================
#Point declaring template
{tab}Point {var_name};

#end

#Point implementing template
{var_name}{spaces}= Point({position});

#end	