#
# create templates
#

#CCSizeMake declaring template
{tab}CCSize {var_name};

#end

#CCSizeMake implementing template
{var_name}{spaces}= CCSizeMake({size});

#end

#================SizeMake========================
#SizeMake declaring template
{tab}Size {var_name};
#end

#SizeMake implementing template
{var_name}{spaces}= SizeMake({size});

#end